@font-face {
  font-family: 'Founder';
  src: url(FoundersGroteskCondensed-Bold.ttf);
}


* {
    margin: 0;
    padding: 0;
    
}

body{

    background-image: url(bg.jpg);

    font-family:Arial, Helvetica, sans-serif;

}

.img-con {
    display: flex;
    justify-content: center;
    align-items: center;
    height: clamp(100px, 30vh, 200px);
    margin: 20px;

}

.img-con img {
    margin: 0 auto;
    width: auto;

}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
}

.orange {
  color: #20BDFF;
}

.form-container {
  max-width: 800px;
  margin: 30px;
  background-color: #001925;
  padding: 50px;
  border-left: 5px solid #999;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    0 100%
  );
}

.heading {
  display: block;
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 20px;
}
.c1 {
  display: block;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.c2 {
  display: block;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.form-container .form .input {
  color: #87a4b6;
  width: 100%;
  background-color: #002733;
  border: none;
  outline: none;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  border-left: 1px solid transparent;
}

.form-container .form .input:focus {
  border-left: 5px solid #5433FF;
}

.form-container .form .textarea {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #013747;
  color: #5433FF;
  font-weight: bold;
  resize: none;
  max-height: 150px;
  margin-bottom: 20px;
  border-left: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.form-container .form .textarea:focus {
  border-left: 5px solid #5433FF;
}

.form-container .form .button-container {
  display: flex;
  gap: 10px;
}

.form-container .form .button-container .send-button {
  flex-basis: 70%;
  background: #5433FF;
  padding: 10px;
  color: white;
  text-align: center;
  font-weight: bold;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.form-container .form .button-container .send-button:hover {
  background: transparent;
  border: 1px solid #5433FF;
  color: white;
}

.form-container .form .button-container .reset-button-container {
  filter: drop-shadow(1px 1px 0px #5433FF);
  flex-basis: 30%;
}

.form-container .form .button-container .reset-button-container .reset-button {
  position: relative;
  text-align: center;
  padding: 10px;
  color: white;
  font-weight: bold;
  background: #001925;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 10px),
    calc(100% - 10px) 100%,
    0 100%
  );
  transition: all 0.2s ease-in-out;
}

.form-container
  .form
  .button-container
  .reset-button-container
  .reset-button:hover {
  background: #5433FF;
  color: #001925;
}

#loginBtn, #reset-btn {
  background-color: white;
  color: black;
}


@media (max-width: 768px) {
.img-con img{
    max-width: 300px;
}

  .form-container {
    padding: 30px;
    margin: 20px;
  }
}